<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    @model ChefsView
    <h1>Chefs | <a href="Dishes">Dishes</a></h1>
    <h3>Check out our roster of Chefs!</h3>
    <a href="NewChef">Add a Chef</a>

    <table>
        <tr>
            <th>Name</th>
            <th>Age </th>
            <th># of Dishes</th>
        </tr>
        @{
            @foreach(Chef chef in Model.Chefs)
            {
                <tr>@chef.FirstName @chef.LastName</tr>
                <tr>@chef.BirthDate</tr>
                <tr>@chef.CreatedDishes.Count</tr>
            }
        }
    </table>
    
</body>
</html>