<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>New Dish</title>
    </head>

    <body>
        <a href="Dishes">Home</a>
        <h3>Add a Dish!</h3>
        @model NewDishView
        <form asp-action="AddDish" asp-controller="Home" method="POST">
            <span asp-validation-for="newDish.Name"></span>
            <label asp-for="newDish.Name">Name of Dish: </label>
            <input type="text" asp-for="newDish.Name">
            <br>

            <span asp-validation-for="newDish.Calories"></span>
            <label asp-for="newDish.Calories"># of Calories: </label>
            <input type="text" asp-for="newDish.Calories">
            <br>

            <span asp-validation-for="newDish.Creator"></span>
            <label asp-for="newDish.Creator">Chef: </label>
            <input type="text" asp-for="newDish.Creator">
            <br>

            <span asp-validation-for="newDish.Tastiness"></span>
            <label asp-for="newDish.Tastiness">Tastiness: </label>
            <select asp-for="newDish.Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>

            <span asp-validation-for="newDish.Description"></span>
            <label asp-for="newDish.Description">Description: </label>
            <input type="date" asp-for="newDish.Description">
            <br>
            <input type="submit" value="Add Dish">
        </form>
    </body>
</html>